/* Scss Document */
$footer-height: 60px;
html {
    position:relative;
    min-height:100%;
}
body {
    // Offset bottom
    margin-bottom: $footer-height;
    color: rgb(211, 211, 211);
    background-color: rgb(17, 17, 17);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
}

.lead {
    margin-left:10px;
    margin-right:10px;
}

#mainDesc {
    text-align: left;
}

header {
    background-color: rgb(44, 44, 44) !important;
    h1 {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 400px) {
    .shrinkhide {
        display: none;
    }
}